
@font-face {
    font-family: "Liberation Serif";
    src: url(/file/BibliotecaIES/Liberation-Serif-Regular_28067.ttf) format("truetype");
}
p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

td.container > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: "Liberation Sans", Verdana, Tahoma;
    font-size: 9;

}

td.head > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: "Liberation Sans", Verdana, Tahoma;
    font-size: 9;
    text-align: left;
}

td.left_bold > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: "Liberation Sans", Verdana, Tahoma;
    font-size: 9;
    text-align: left;
}

td.center > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: "Liberation Sans", Verdana, Tahoma;
    font-size: 9;
    text-align: center;
}
td.container {
    font-family: "Liberation Sans", Verdana, Tahoma;
    height: 6.2mm;
    width: 100mm;
}
td.bolding {
    font-weight: bold;
}
td.left_bold {
    font-weight: bold;
    text-align: left;
}
td.dcontainer {
    height: 12mm;
    width: 100mm;
    font-weight: bold;
    padding-top: 5mm;
    text-align: center;
}
td.high {
    height: 10mm;
}
td.double-high {
    height: 20mm;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.open {
    border: 0px solid white;
}
.vcenter {
    line-height: 30mm;
}
div.head {
    min-height: 30mm;
    width: 30mm;
    font: normal 9pt "Open Sans", sans-serif;
    text-align: left;
    float: left;
}
div.header {
    border: 0px solid white;
    min-height: 30mm;
    font: normal 9pt "Open Sans", sans-serif;
    text-align: center;
    float: left;
    width: 100%;
}
div.heading {
    border: 0px solid white;
    font-family: "Liberation Sans", Verdana, Tahoma;
    font: bolder 2em "Liberation Sans", sans-serif;
    text-align: center;
    float: left;
    width: 80%;
}